@use "../abstracts/" as a;

main {
  @include a.mobile {
    width: 100%;
    max-width: 700px;
    padding: 2rem 2rem;
  }
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  @include a.tablet {
    padding: 2rem;
  }
}

.question-container {
  border-bottom: 1px solid var(--light-mode-question-border);
  padding: 1rem 0;
}

.question {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.answers {
  background: transparent;
  font-size: 0.64rem;
  border: 1px solid white;
  border-radius: 7.71px;
  margin-right: 0.75rem;
  padding: 0.25em 1.25em;
  cursor: pointer;
  box-shadow: var(--light-mode-answer-box-shadow);
  color: white;
  @include a.mobile {
    margin-bottom: 0.5rem;
    display: block;
  }
}

.selected {
  background: var(--selected);
  border: 1px solid var(--selected);
  font-size: 0.64rem;
  border-radius: 7.71px;
  margin-right: 0.75rem;
  padding: 0.25em 1.25em;
  cursor: pointer;
  @include a.mobile {
    margin-bottom: 0.5rem;
    display: block;
  }
}

.show-answer_correct {
  background: var(--correct-answer);
  border: 1px solid var(--correct-answer);
  font-size: 0.64rem;
  border-radius: 7.71px;
  margin-right: 0.75rem;
  padding: 0.25em 1.25em;
  cursor: pointer;
  @include a.mobile {
    margin-bottom: 0.5rem;
    display: block;
  }
}

.show-answer_incorrect {
  background: var(--light-mode-incorrect);
  border: 1px solid var(--light-mode-incorrect);
  font-size: 0.64rem;
  border-radius: 7.71px;
  margin-right: 0.75rem;
  padding: 0.25em 1.25em;
  cursor: pointer;
  opacity: 0.5;
  @include a.mobile {
    margin-bottom: 0.5rem;
    display: block;
  }
}

.check-answers__container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @include a.mobile {
    margin-bottom: 1rem;
  }
}

.score {
  font-weight: 700;
  font-size: 0.8rem;
}

.check-btn {
  background: var(--light-mode-button-bg);
  color: var(--button-text);
  font-size: 1rem;
  align-self: center;
  border: none;
  border-radius: 7.71px;
  padding: 1.25em 1.75em;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
}

.hidden {
  visibility: hidden;
}
