@use "../abstracts/" as a;

h1,
p {
  margin-bottom: 1rem;
}

p {
  font-weight: 600;
  @include a.mobile {
    text-align: center;
  }
}

.error-message {
  color: var(--error-message);
}

.settings-container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include a.mobile {
    margin: 4rem auto 0;
    height: unset;
  }
}

form {
  display: flex;
  flex-direction: column;
  @include a.mobile {
    max-width: 95%;
    margin-bottom: 2rem;
  }
}

label,
select {
  margin-bottom: 1rem;
  font-family: inherit;
}

label {
  font-weight: 600;
}

select {
  padding: 0.5rem;
  outline: none;
  border: none;
  box-shadow: var(--light-mode-box-shadow);
  border-radius: 5px;
  background: var(--light-mode-background);
  font-weight: 600;
  color: var(--button-text);
  cursor: pointer;
}

.start-btn {
  background: var(--light-mode-button-bg);
  color: var(--light-mode-button-text);
  font-size: 0.64rem;
  align-self: center;
  border: none;
  border-radius: 7.71px;
  padding: 1.25em 1.75em;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
}
