.dark-mode {
  background: var(--dark-mode-background);
  color: #fff;

  .question-container {
    border-bottom: 1px solid var(--dark-mode-question-border);
  }

  .answers {
    box-shadow: var(--dark-mode-answers-box-shadow);
    background: var(--dark-mode-select-bg);
    border: 1px solid var(--dark-mode-background);
    color: #fff;
  }

  .check-btn,
  .start-btn {
    background: var(--dark-mode-button-bg);
    color: var(--button-text);
  }

  select {
    box-shadow: var(--dark-mode-answers-box-shadow);
    background: var(--dark-mode-select-bg);
    color: #fff;
  }

  .show-answer_correct {
    background: var(--correct-answer);
    border: 1px solid var(--correct-answer);
    font-weight: 600;
    color: var(--dark-mode-correct-answer-text);
  }

  .show-answer_incorrect {
    background: var(--dark-mode-incorrect);
    border: 1px solid var(--dark-mode-incorrect);
    font-weight: 600;
  }
}
