.light-mode {
  background: var(--light-mode-background);
  color: var(--light-mode-text);

  .question-container {
    border-bottom: 1px solid var(--light-mode-question-border);
  }

  .answers {
    background: var(--light-mode-background);
    border: 1px solid var(--light-mode-background);
    box-shadow: var(--light-mode-answer-box-shadow);
    color: var(--light-mode-text);
  }

  .check-btn,
  .start-btn {
    background: var(--light-mode-button-bg);
    color: var(--button-text);
  }

  select {
    box-shadow: var(--light-mode-box-shadow);
    background: var(--light-mode-background);
    color: var(--light-mode-text);
  }

  .show-answer_correct {
    background: var(--correct-answer);
    border: 1px solid var(--correct-answer);
  }

  .show-answer_incorrect {
    background: var(--light-mode-incorrect);
    border: 1px solid var(--light-mode-incorrect);
  }
}
